body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #fff;
}
ul {
    list-style-type: none;
}
a {
    text-decoration: none;
}
.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 117%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
}
.logo:hover {
    color: #404bbf;
}
.logo-text {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 117%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2e2f42; 
}
.container-item-link {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.container-item-link:hover {
    color: #404BBF;
}
.container-item-link:focus {
    color: #404bbf;
}
.contacts {
    font-style: normal;
}
.contacts-link {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #434455;
}
.contacts-link:hover{
    color:#404BBF;
}
.contacts-link:focus {
    color: #404bbf;
}
.contacts-item {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #434455;
}
.hero {
    background-color: #2E2F42;
}
.hero-title {
    font-family: 'Roboto',sans-serif;
    font-weight: 700;
    font-size: 56px;
    line-height: 107%;
    letter-spacing: 0.02em;
    text-align: center;
    color: #FFFFFF;
}
.hero-btn {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    text-align: center;
    cursor: pointer;
    background: #4D5AE5;
}
.hero-btn:hover {
    background: #404BBF;
}
.hero-btn:focus {
    background: #404BBF;
}
.goals-additional-title {
    text-align: center;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.goals-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.goals-descr {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.team {
    background: #F4F4FD;
}
.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 111%;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2E2F42;
    text-transform: capitalize;
}

.team-item {
    background-color: #FFFFFF;
}
.team-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.team-descr {
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.portfolio-title {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 111%;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;
}
.portfolio-item-title {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.02em;
    color: #2e2f42;
} 
.portfolio-item-category {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #434455;
}
.footer-container {
    background-color: #2E2F42;
}
.logo-additional {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 117%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}
.logo-additional-text {
    color: #f4f4fd;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 117%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.footer-container-descr {
    line-height: 1.5;
    color: #F4F4FD;
    letter-spacing: 0.02em
}