body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #fff;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}
a {
    text-decoration: none;
}
.container {
    max-width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}
/* header */
.page-header {
    border-bottom: 1px solid #e7e9fc;
}
.header-container {
    display: flex;
    align-items: center;
}
.header-container-item {
    display: flex;
    align-items: center;
}
.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 117%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
}
.header-logo {
    padding: 24px 0;
    margin-right: 76px;
}
.logo:hover {
    color: #404bbf;
}
.logo-text {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 117%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2e2f42; 
}
.header-container-list {
    display: flex;
    align-items: center;
    gap: 40px;
}
.container-item-link {
    padding: 24px 0;
    display: block;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.container-item-link:hover {
    color: #404BBF;
}
.container-item-link:focus {
    color: #404bbf;
}
.contacts {
    font-style: normal;
    margin-left: auto;
}
.contacts-list {
    display: flex;
    align-items: center;
    gap: 40px;
}
.contacts-link {
    padding: 24px 0;
    display: block;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #434455;
}
.contacts-link:hover{
    color:#404BBF;
}
.contacts-link:focus {
    color: #404bbf;
}
.contacts-item {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #434455;
}
.hero-container {
    align-items: center;
    max-width: 100%;
    margin: 0;
    padding: 0;
}
.hero {
    background-color: #2E2F42;
}
.hero-title {
    padding: 188px 472px 48px 472px;
    font-family: 'Roboto',sans-serif;
    font-weight: 700;
    font-size: 56px;
    line-height: 107%;
    letter-spacing: 0.02em;
    text-align: center;
    color: #FFFFFF;
}
.hero-btn {
    border-radius: 4px;
    padding: 16px 32px;
    max-width: 100%;
    margin-top: 0;
    margin-bottom: 188px;
    margin-left: 636px;
    margin-right:635px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    text-align: center;
    cursor: pointer;
    background: #4D5AE5;
}
.hero-btn:hover {
    background: #404BBF;
}
.hero-btn:focus {
    background: #404BBF;
}
.goals-container {
    display: flex;
}
.goals {
    display: flex;
}
.goals-list {
    display: flex;
    gap: 24px;
}
.goals-item {
    padding: 120px 0;
}
.goals-additional-title {
    text-align: center;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.goals-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.goals-descr {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.team {
    background: #F4F4FD;
}
.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 111%;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2E2F42;
    text-transform: capitalize;
}

.team-item {
    background-color: #FFFFFF;
}
.team-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.team-descr {
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.portfolio-title {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 111%;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;
}
.portfolio-item-title {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.02em;
    color: #2e2f42;
} 
.portfolio-item-category {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #434455;
}
.footer-container {
    background-color: #2E2F42;
}
.logo-additional {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 117%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}
.logo-additional-text {
    color: #f4f4fd;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 117%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.footer-container-descr {
    line-height: 1.5;
    color: #F4F4FD;
    letter-spacing: 0.02em
}